@model  Product_ivity.Models.GridVM<Product_ivity.Models.ProductModel>

@{
    ViewBag.Title = "Home Page";
}

<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    @Html.Label("Filter")
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div>

<div class="bg-primary"
    <table class="table">
        <tr>
            <th width="150px">
                ID
            </th>
            <th width=25%>
                Name
            </th>
            <th width=25%>
                Cetegory
            </th>
            <th width=25%>
                Price
            </th>
        </tr>

        @foreach (var item in Model.Entries) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>