@model  Product_ivity.Models.GridVM<Product_ivity.Models.ProductModel>

@{
    ViewBag.Title = "Home Page";
}
@{ 
    var model = @Html.Raw(Json.Encode(Model));
} 
<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    @Html.Label("Filter")
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div>

<div class="demo-container">
    <div id="gridContainer"></div>
</div>

@*<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Product Name</th>
                <th>Category</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Entries.Any()) {
                foreach (var item in Model.Entries) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td>
                            R @Html.DisplayFor(modelItem => item.Price)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>*@
