<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Custom/SideBar.css")
    @Styles.Render("~/Content/Custom/Table.css")
    @Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
    @Scripts.Render("https://code.jquery.com/jquery-3.6.1.min.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Custom/SideBar.js")
    @Scripts.Render("https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js")
    @Scripts.Render("~/Scripts/paging.js")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "Index", "Product")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>

    </div>

    <div id="mainBar">
        <button class="openbtn" onclick="openNav()">☰</button>
    </div>
    <div class="container body-content">
        @RenderBody()
        <div id="ErrorMessage" class="modal" tabindex="-1" role="dialog"></div>

            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
</body>
</html>
